.idea
datasets_test/cifar/__pycache__
datasets_test/cifar/cifar10_data
datasets_test/cifar/cifar10_data/cifar-10-batches-bin
datasets_test/cifar/model
datasets_test/mnist/MNIST_data
datasets_test/mnist/model
lstm/MNIST_data
lstm/model
siamease_network/mnist/MNIST_data
siamease_network/mnist/logs
tensorboard_test/temp
